.playerborder img {
  max-width: 300px;
  border: 4px solid white;
  border-radius: 5px;
}

.background-container {
  background-color: black;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
}

.player-title {
  font-size: 2rem;
  color: yellow;
  text-align: center;
}

.player-text {
  text-align: left;
  color: white;
  font-size: 1.2rem;
}

b {
  color: yellow;
  font-style: italic;
}

p {
  font-size: 1rem;
}
