.todo {
  border: 1px solid lightgray;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 8px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5% ease;
}

.completed {
  background-color: lightgreen;
}

.completed:hover {
  background-color: aquamarine;
  border-radius: 16px;
}

.upcoming {
  background-color: lightcoral;
}

.upcoming:hover {
  background-color: aquamarine;
  border-radius: 16px;
}
